/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --background-color: #ffffff;
  --text-color: #171717;
  --text-color-light: #4a4a4a;
  --card-bg: #FBFBFB;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --text-color: #ededed;
    --text-color-light: #b0b0b0;
    --card-bg: #1e1e1e;
  }
}

/* Hide Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* H2 color */
h2 {
  color: #497D74;
}