/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define light theme colors */
:root {
  --background-color: #ffffff;
  --text-color: #171717;
  /* Add more custom properties as needed */
}

/* Define dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --text-color: #ededed;
    /* Add more custom properties as needed */
  }
}

/* Apply the custom properties */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
