.custom-shape-divider-top-1740286622 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1740286622 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 205px;
}

.custom-shape-divider-top-1740286622 .shape-fill {
    fill: #497D74;
}

.shapeFill {
    fill: #497D74;
}